<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-7 col-md-8 col-xs-12">
        <div class="footer-nav-wrap">
          <ul class="footer-nav">
            <li><a href="#">Contacts</a></li>
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Terms of Use</a></li>
            <li><a href="#">Accessibility</a></li>
            <li><a href="#">Feedback</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-5 col-md-4 col-xs-12">
        <div class="subscribe">
          <p>Subscribe for Newsletters</p>
          <img src="./assets/images/email.png" alt="">
          <input type="email" placeholder="enter your email">
          <button class="subscribeBtn">Subscribe</button>
        </div>
      </div>
    </div>
    <p class="copyright">Copyrights by <img src="./assets/images/logo-footer.png" alt="logo"></p>
  </div>
</footer>
