<header class="header innerheader defaultHeader">
  <div class="logo">
    <a href="/">
      <img class="logo-website" src="./assets/images/tpl-logo.png"  alt="Techprimelab" />
      <img class="logo-mobile"  src="./assets/images/mobile-logo.png" alt="Techprimelab" />
    </a>
  </div>

  <nav>
    <input id="menu-toggle" type="checkbox" />
    <label class='menu-button-container' for="menu-toggle">
      <div class='menu-button'></div>
    </label>
    <ul class="menu">
     <li>
        <a class="home" [routerLinkActive]="['active', 'router-link-active']" [routerLink]="['./home'] " (click)="uncheckMenu();">Home</a>
      </li>
      <li>
        <a [routerLinkActive]="['active', 'router-link-active']" [routerLink]="['./portfolio',work] " (click)="uncheckMenu();">Work</a>
      </li>
      <li>
        <a [routerLinkActive]="['active', 'router-link-active']" [routerLink]="['./process'] "  (click)="uncheckMenu();" >Process</a>
      </li>
      <li>
        <a [routerLinkActive]="['active', 'router-link-active']" [routerLink]="['./portfolio',services] " (click)="uncheckMenu();">Services</a>
      </li>
      <li>
        <a [routerLinkActive]="['active', 'router-link-active']" [routerLink]="['./products'] "  (click)="uncheckMenu();">Products</a>
      </li>
      <li>
        <a [routerLinkActive]="['active', 'router-link-active']" [routerLink]="['./blogs'] "  (click)="uncheckMenu();">Blogs</a>
      </li>
      <li>
        <a [routerLinkActive]="['active', 'router-link-active']" [routerLink]="['./about'] " (click)="uncheckMenu();" >About</a>
      </li>
      <li>
        <a [routerLinkActive]="['active', 'router-link-active']" [routerLink]="['./contactUs'] "(click)="uncheckMenu();" >Contact</a>
      </li>
    </ul>
  </nav>
</header>

<div class="showcase-btn" *ngIf="isShowcaseVisible">
  <a [routerLink]="['/showcase'] "><span class="blink">Showcase</span> </a>
</div>
