//descriptive variables
$global_white: #fff;
$darkblack: #999;
$black: #000;
$gray: #ccc;
$lightblack: #34495e;
$lightred: #cc6055;
$reddrak: rgb(121, 68, 85);
$darkblue: rgb(27, 111, 121);
$darkyellow: rgb(158, 112, 0);
$darkgreen: rgb(127, 144, 49);
$lightred: #c66987;
$lightblue: #19b2c4;
$lightyellow: #ffb400;
$lightgreen: #b5cc48;
$bluedarker: #1d71bc;
$greenarker: #9ece4a;
$white_transparent: rgba(255, 255, 255, 0);
$darkorange: #F7931E;
$darkergreen: #8CC63F;
$darkerblue: #29ABE2;
$drakpurpel: #93278F;
$darkpink: #ED1E79;
$darkerbrown: #8C6239;
$lightgray: #808080;
$darkeryellow: #FECC2F;
$lightpink: #EE6579;
$lightlavender: #A364D9;
$lightturquoise: #33BEB7;
$lightsummersky: #40A3DA;
$darkdenim: #1D70BC;
$normal_gray: #b3b3b3;
$lightcharcoal: #4A4A4A;
$normalgray: #eaeaea;
$lightfeijoa: #acd573;
$lightsnow: #FBFBFB;
$Emerald: #40C681;

//functional variables
$text_color: $global_white;
$link_color: $global_white;
$border_color: $global_white;
$background_color: $global_white;
$contact_text_color: $lightcharcoal;
$project_tabs_link_color: $darkblack;
$project_tabs_border_color: $darkblack;
$work_title_text_color: $black;
$services_background_transparent: $lightblack;
$services_background_transparent1: $lightred;
$services_webApplication_title_transparent: $reddrak;
$services_mobileApplication_title_transparent: $darkblue;
$services_eCommerce_title_transparent: $darkyellow;
$services_iot_title_transparent: $darkgreen;
$services_webApplication_background: $lightred;
$services_mobileApplication_background: $lightblue;
$services_eCommerce_title_background: $lightyellow;
$services_iot_title_background: $lightgreen;
$future_thinking_background: $bluedarker;
$new_background: $greenarker;
$menu_line_color: $white_transparent;
$menu_background: $darkergreen;
$automobile_title_color: $darkorange;
$ui_ux_title_color: $darkorange;
$web_title_color: $darkergreen;
$agriculture_title_color: $darkergreen;
$eCommerce_title_color: $darkerblue;
$information_technology_title-color: $drakpurpel;
$online_store_title-color: $drakpurpel;
$healthcare_title-color: $darkpink;
$realestate_title-color: $darkerbrown;
$iot_title_color: $darkerbrown;
$copyright_background: $lightgray;
$mobile_title_color: $darkeryellow;
$architect_title_color: $lightpink;
$automation_title_color: $lightlavender;
$cloud_title_color: $lightsummersky;
$process_banner_background: $darkdenim;
$contactus_input_border: $normal_gray;
$submit_btn_background: $darkergreen;
$about_techprimelab_text_color: $lightcharcoal;
$who_we_are_text_color: $lightcharcoal;
$what_we_do_text_color: $lightcharcoal;
$how_we_are_text_color: $lightcharcoal;
$menu_link_color: $lightcharcoal;
$contact_paragraph_text_color: $lightcharcoal;
$heading_color: $lightcharcoal;
$process_paragraph_text_color: $lightcharcoal;
$work_text_color: $lightcharcoal;
$work_link_color: $lightcharcoal;
$work_heading_color: $lightcharcoal;
$menu_active_border: $bluedarker;
$clients_background: $normalgray;
$menu_light_bottom_border: $lightfeijoa;
$services_box_responsive_background: rgba(1, 0, 0, 0.6);
$clients_box_shadow: $gray;
$project_tabs_active_color: $lightyellow;
$project_tabs_active_border_color: $lightyellow;
$blogs_default_color: $lightcharcoal;
$blogs_heading_color: $lightcharcoal;
$blogs_post_heading_color: $bluedarker;
$blogs_background: $lightsnow;
$blogs_list_background: $global_white;
$post_readmore_btn_background: $darkergreen;
$mock3html_text_link: $Emerald;
